/* ===================== GLOBAL ==================== */
* {
  box-sizing: border-box;
}
body{
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  align-items: center;
}
body::before{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: url("../Images/parabens.jpg") center/cover;
  opacity: 0.9;
}

/* ===================== CONGRATS ==================== */
.congrats__container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  opacity: 0.90;
  width: 70%;
  margin: 0 auto;
  font-weight: bold;
  color: #000;
  background-color: #B0B0B0;
  padding: 8px;
  height: 95vh;
  border: 8px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #743ad5, #d53a9d);
}
.congrats__title{
  font-size: 4rem;
  margin: 3rem 0;
  opacity: 1;
  font-family: 'Bungee', cursive;
}
.congrats__message{
  font-size: 2.3rem;
  text-align: justify;
  width: 85%;
  opacity: 1;
}
.congrats__button{
  padding: 3rem;
  font-size: 2rem;
  border-radius: 8px;
  background-image: linear-gradient(#743ad5, #d53a9d);
  color: #F0F0F0;
  opacity: 0.9;
  cursor: pointer;
  font-family: 'Bungee', cursive;
  text-align: center;
}
.congrats__button:hover{
  opacity: 1;
}

/* ===================== RESPONSIVENESS ==================== */
@media screen and (max-width: 600px) {
  .congrats__container{
    width: 94%;
    justify-content: space-around;
    opacity: 0.85;
  }
  .congrats__title{
    font-size: 3rem;
  }
  .congrats__message{
    width: 100%;
    font-size: 1.5rem;
    text-align: justify;
  }
  .congrats__button{
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .congrats__container{
    width: 80%;
    height: 80vh;
    justify-content: space-around;
  }
}