/* ===================== GLOBAL ==================== */
* {
  box-sizing: border-box;
}

/* ===================== QUESTION ==================== */
.question__text{
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  display: flex;
  background-color: #F9F9F9;
  height: 15vh;
  outline: 0;
  border: 0 none;
  padding: 0.5rem;
  font-size: 1.9em;
  color: #030303;
  font-weight: bold;
}

/* ===================== ANSWERS ==================== */
.theme-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 85vh;
}
.theme-container::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.60;
}
.histGeoTheme::before{
  background: url("../Images/alice.jpg") bottom/cover;
}
.scienceTheme::before{
  background: url("../Images/aladdin.jpg") center/cover;
}
.portugueseTheme::before{
  background: url("../Images/peterpan.jpg") center/cover;
}
.generalTheme::before{
  background: url("../Images/pinoquio.jpg") top/cover;
}
.answers__options{
  display: flex;
  width: 100vw;
  height: 85vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  text-align: center;
}
.answers__item{
  display: flex;
  text-align: center;
  width: 40%;
  height: 15vh;
  margin: 20px 0;
  flex-direction: column;
  align-items: center;
}
.answers__button{
  text-align: center;
  font-size: 2em;
  width: 65%;
  height: 90%;
  opacity: 0.8;
  cursor: pointer;
  color: #F0F0F0;
}
.answers__button:hover{
  opacity: 0.90;
}
.answers__next{
  text-align: center;
  width: 80%;
  height: 100%;
  opacity: 0.85;
  cursor: pointer;
  font-size: 1.5em;
  background-color: #3171F7;
  color: #F3F3F3;
  font-family: 'Monoton', cursive;
  font-weight: bold;
}
.answers__next:hover{
  opacity: 0.95;
}
.answers__next:disabled{
  background-color: #C0C0C0;
  cursor:initial;
}
.alice__options{
  background-color: #591916;
}
.aladin__options{
  background-color: #3F2366;
}
.peter__options{
  background-color: #193000;
}
.pinoquio__options{
  background-color: #145873;
}
.answers__correct{
  background-color: #17C37B;
  cursor: not-allowed;
  opacity: 0.90;
  pointer-events: none;
}
.answers__wrong{
  background-color: #E6625E;
  cursor: not-allowed;
  opacity: 0.90;
  pointer-events: none;
}
.answers__disable{
  cursor: not-allowed;
  pointer-events: none;
}

/* ===================== RESPONSIVENESS ==================== */
@media screen and (max-width: 600px) {
  .question__container{
    display: flex;
    height: 15vh;
  }
  .question__text{
    text-align: center;
    word-break:normal;
    font-size: 1.35rem;
    padding: 2px;
    word-wrap: normal;
    line-height: 5vh;
  }
  .answers__item{
    width: 80%;
    height: 10vh;
  }
  .answers__button{
    width: 85%;
    font-size: 1.3em;
  }
  .answers__next{
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.3em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .question__text{
    line-height: 5vh;
  }
  .answers__item{
    width: 49%;
  }
  .answers__button{
    width: 94%;
  }
  .answers__next{
    width: 100%;
    font-size: 2em;
    line-height: 1.5em;
  }
}