.pergunta {
  display: flex;
  background-color: #F9F9F9;
  height: 20vh;
}
.temaAlice{
  position: relative;
  display: flex;
  justify-content: center;
  height: 80vh;
}
.temaAlice::before{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url("../Images/alice.jpg");
  background-size: cover;
  background-position: bottom;
  opacity: 0.30;
}
.temaAladin{
  position: relative;
  display: flex;
  justify-content: center;
  height: 80vh;
}
.temaAladin::before{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url("../Images/aladdin.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.30;
}
.temaPeter{
  position: relative;
  display: flex;
  justify-content: center;
  height: 80vh;
}
.temaPeter::before{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url("../Images/peterpan.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.30;
}
.temaPinoquio{
  position: relative;
  display: flex;
  justify-content: center;
  height: 80vh;
}
.temaPinoquio::before{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url("../Images/pinoquio.jpg");
  background-size: cover;
  background-position: top;
  opacity: 0.30;
}