body{
  background-color: #E0E0E0;
  font-family: 'Roboto', sans-serif;
} 
strong {
  font-weight: bold;
}
.background{
  position: relative;
  display: flex;
  height: 47.5vh;
  align-items: center;
  justify-content: center;
}
.background::before{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: url("../Images/banner.jpg") center/cover;
  opacity: 0.95;
  }
.titulo-principal{
  position: relative;
  font-size: 6em;
  text-align: center;
  font-family: 'Monoton', sans-serif;
  font-weight: bold;
  color: #FAFF00;
  text-shadow: 4px 1px 1px #343BBF;
}
.container-explicacao{
  width: 80%;
  margin: 20px auto;
}
.titulo-secundario{
  font-size: 56px;
  text-align: center;
  margin-top: 1.5em;
  color: #2F3AED;
  font-weight: bold;
}
.texto-explicacao{
  font-size: 1.8em;
  text-align: justify;
  margin: 3em 0;
  line-height: 1.1em;
  border: 1px solid;
  padding: 16px;
  border-width: 0.9rem;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left,#FAFF00, #3B0273, #F24405);

}
.explica-jogar{
  margin: 56px 0;
  font-weight: bold;
}
.botoes-tema{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
  margin-top: 3em;
  height: 60vh;
}
.banner-peter{
  background-color: #193000;
}
.banner-alice{
  background-color: #591916;
}
.banner-aladin{
  background-color: #3F2366;
}
.banner-pinoquio{
  background-color: #145873;
}
.titulo-tema{
  font-size: 1.8em;
  text-align: center;
  font-weight: bold;
  margin: 8px 0;
  color: #FFF;
}
.lista-tema{
  text-align: center;
  width: 23%;
  height: 40vh;
  margin: 10px;
}
.botao-tema{
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 600ms transform;
}
.botao-peter{
  background: url(../Images/botaopeter.jpg) center/cover;
  filter: grayscale(95%);
}
.botao-alice{
  background: url(../Images/botaoalice.jpg) center/cover;
  filter: grayscale(95%);
}
.botao-aladin{
  background: url(../Images/botaoaladin.jpg) center/cover;
  filter: grayscale(95%);
}
.botao-pinoquio{
  background: url(../Images/botaopinoquio.jpg) center/cover;
  filter: grayscale(95%);
}
.botao-tema:hover{
  border: 3px solid #3171F7;
  transform: scale(1.01);
}
.botao-tema:focus{
  background-color: #F2A413;
  filter: none;
}
.jogar{
  display: flex;
  width: 94%;
  margin: 2em 0;
  justify-content: center;
}
.jogar a{
  width: 70%;
  text-align: center;
}
.botao-jogar{
  width: 40%;
  height: 20vh;
  font-size: 3em;
  cursor: pointer;
  background-image: linear-gradient(#3B0273, #F24405);
  color: #F3F3F3;
  font-weight: bold;
  font-family: 'Press Start 2P', sans-serif;
}
.botao-jogar:disabled{
  background-image: none;
  background-color: #a0a0a0;
  cursor:initial;
}
@media screen and (max-width: 600px) {
  .background{
    width: 100vw;
    flex-wrap: wrap;
    height: 35vh;
  }
  .titulo-principal{
    width: 200px;
    font-size: 4em;
    height: 3em;
  }
  .container-explicacao{
    width: 98vw;
  }
  .titulo-secundario{
    width: 100vw;
    font-size: 2em;
  }
  .texto-explicacao{
    font-size: 1.4em;
  }
  .escolhe-tema{
    width: 100vw;
    font-size: 1.8em;
  }
  .botoes-tema {
    flex-wrap: wrap;
    height: auto;
  }
  .lista-tema {
    width: 75vw;
    height: 60vh;
    margin-top: 3em;
  }
  .botao-tema{
    height: 90%;
  }
  .jogar {
    width: 100vw;
    align-items: flex-start;
  }
  .botao-jogar{
    width: 75%;
    margin: 0.5em 0;
    font-size: 2.5em;
  }
  .titulo-tema{
    font-size: 1.5em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .background{
    height: 20vh;
  }
  .botoes-tema{
    height: 20vh;
  }
  .lista-tema {
    height: 90%;
    margin: 1px;
  }
  .titulo-tema {
    font-size: 1.1em;
  }
  .titulo-secundario{
    font-size: 2.5em;
  }
  .jogar {
    width: 100vw;
    height: 10vh;
    margin: 2em 0;
  }
  .botao-jogar {
    height: 100%;
  }
}