
body{
  background-color: #F0F0F0;
  font-family: 'Roboto', sans-serif;
} 
strong {
  font-weight: bold;
}
.background{
  position: relative;
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center;
}

.background::before{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url("../Images/banner.png");
  background-size: cover;
  background-position: top;
  opacity: 0.90;
  }
.titulo-principal{
  position: relative;
  font-size: 6em;
  text-align: center;
  font-family: 'Monoton', sans-serif;
  font-weight: bold;
}
.container-explicacao{
  width: 80%;
  margin: 20px auto;
}
.titulo-secundario{
  font-size: 56px;
  text-align: center;
  margin-top: 1.5em;
  color: #2F3AED;
  font-weight: bold;
}

.texto-explicacao{
  font-size: 1.8em;
  text-align: justify;
  margin: 3em 0;
  line-height: 1.1em;
  border: 1px double #404040;
  padding: 16px;
  border-width: 0.9rem;
  border-radius: 32px;
}
.explica-jogar{
  margin: 56px 0;
  font-weight: bold;
}
.botoes-tema{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5em;
  margin-top: 3em;
  height: 60vh;
}
.banner-peter{
  background-color: #193000;
}
.banner-alice{
  background-color: #591916;
}
.banner-aladin{
  background-color: #3F2366;
}
.banner-pinoquio{
  background-color: #145873;
}
.titulo-tema{
  font-size: 1.8em;
  text-align: center;
  font-weight: bold;
  margin: 8px 0;
  color: #FFF;
}
.lista-tema{
  text-align: center;
  width: 23%;
  height: 40vh;
  margin: 10px;
}
.botao-tema{
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 600ms transform;
}
.botao-peter {
  background-image: url(../Images/botaopeter.jpg);
  background-position: center;
  background-size: cover;
  filter: grayscale(95%);
}
.botao-alice {
  background-image: url(../Images/botaoalice.jpg);
  background-position: center;
  background-size: cover;
  filter: grayscale(95%);
}
.botao-aladin {
  background-image: url(../Images/botaoaladin.jpg);
  background-position: center;
  background-size: cover;
  filter: grayscale(95%);
}
.botao-pinoquio {
  background-image: url(../Images/botaopinoquio.jpg);
  background-position: center;
  background-size: cover;
  filter: grayscale(95%);
}
.botao-tema:hover{
  border: 3px solid #3171F7;
  transform: scale(1.02);
}
.botao-tema:focus{
  background-color: #F2A413;
  filter: none;
}
.jogar{
  display: flex;
  width: 94%;
  margin: 3.5em 0;
  justify-content: center;
}
.jogar a {
  width: 70%;
  text-align: center;
}
.botao-jogar{
  width: 40%;
  height: 20vh;
  font-size: 3em;
  cursor: pointer;
  background-color: #3171F7;
  color: #F3F3F3;
}
.botao-jogar:disabled {
  background-color: #C0C0C0;
  cursor:initial;
}
